.idea/
pdfs/
out/*.aux
out/*.log
out/*.blg
out/*.bbl
out/*.out
out/*.toc
out/*.fls
out/*.fdb_latexmk
out/*.synctex.gz
out/
.DS_Store

# Common build-artefact baseline
**/.DS_Store
.venv/
media/
**/__pycache__/
*.py[cod]
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
